<div id="<%= dom_id med_certificate %>">
  <p>
    <strong>Doctor:</strong>
    <%= med_certificate.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= med_certificate.patient_id %>
  </p>

</div>
