<h1>Editing med certificate</h1>

<%= render "form", med_certificate: @med_certificate %>

<br>

<div>
  <%= link_to "Show this med certificate", @med_certificate %> |
  <%= link_to "Back to med certificates", med_certificates_path %>
</div>
