<div id="<%= dom_id specialization %>">
  <p>
    <strong>Specialization:</strong>
    <%= specialization.specialization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= specialization.name %>
  </p>

</div>
