<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital | Welcome</title>
  <link rel="stylesheet" href="application.css">
</head>
<header class="h1">
  <% if user_signed_in? %>
    <div class = "body"> Greetings, <%= current_user.email %></div>
  <% end %>
  <h1 class = "h1"> Welcome to our Hospital! </h1>
</header>
