<h1>Editing repartment</h1>

<%= render "form", repartment: @repartment %>

<br>

<div>
  <%= link_to "Show this repartment", @repartment %> |
  <%= link_to "Back to repartments", repartments_path %>
</div>
